body{
}

.curso {
    
    display: inline-block;
    /*
    border: 0.5px solid gray;
    max-width: 25vw;
    padding: 5px;
    margin: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    */
    /*float: left;*/
    vertical-align: top; /*caso nao tenha alguma imagem, nao vai ferrar c o alinhamento dos blocos q é utilizado por baseline */
    font-family: Verdana, sans-serif;
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 260px;
    margin: 5px 20px;
    padding: 5px;
}

.curso img {
    
    width: 100%;
    max-height: 50%;
    
}

.curso-info {
    padding: 10px;
    height: 90px;
    overflow: hidden;
}

.curso-info h4{
    font-weight: bolder;
    font-size: 1.4em;
    font-weight: 100;
    margin: 0;
}

.curso-preco {
    float: right;
    padding: 10px;
}

.preco-de {
    text-decoration: line-through;
    color: red;
}

.preco-por {
    color: green;
    font-weight: bold;
    font-size: 1.4em;
}