*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(135deg, #F8F4EB, #FFFCF2);
    
}

.header-container {
    background-color: #f1c9a1;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100vw;
}

.logo {
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Titan One', sans-serif;
    color: #FFFCF2;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 50px;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
}

.logo a p {
    color: #F8F4EB;
    font-size: 24px;

}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul a {
    text-decoration: none;
    color: #FFFCF2;
}

header nav ul li {
    padding: 10px;
    
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
}

.home-content {
    color: #F8F4EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home h1, .home h3 {
    color: #F8F4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    top: 300px;
    
}

.home h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    margin: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    opacity: 0.5;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #F8F4EB;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #F8F4EB;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked{
    margin-left: -200%;
}

.my-references {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.my-references h3, .add-reference h3, .about-us h3, .contact-bookie h3 {
    font-size: 24px;
    border-bottom: 0.5px solid #f1c9a1;
    margin: 10px;
}


.my-references select {
    border: none;
    background-color: #f1c9a1;
    border-radius: 10px;
    padding: 10px;
    color: #F8F4EB;
    font-weight: bold;
}

.add-reference {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.reference-item, .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.reference-item input, .contact-form input {
    width: 100%;
    border: none;
    background-color: #F8F4EB;
    margin: 10px;
}

.reference-item textarea, .contact-form textarea {
    width: 100%;
    border: none;
    background-color: #F8F4EB;
    color: gray;
}

.reference-item button, .contact-form button {
    border: none;
    background-color: #f1c9a1;
    border-radius: 10px;
    padding: 10px;
    color: #F8F4EB;
    font-weight: bold;
}

.reference-item button:hover, .contact-form button:hover {
    opacity: 0.5;
    color: #FFFCF2;
}

.about-us {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bookie {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form button {
    margin-top: 15px;
    width: 120px;
}

footer {
    background-color: #f1c9a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100vw;
    height: 80px;
    color: #F8F4EB;
}