* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
    margin-top: 230px;
    height: 100%;
    width: 75%;
}

h1 {
    text-align: center;
    position: absolute;
    left: 400px;
    top: 180px;
    text-shadow: 0 0 4px #fff;
    color: #D3B38F;
}

h3{
    padding: 10px;
}

form {
    width: 50%;
    height: 50%;
    background-color: #72523A;
    border-radius: 15px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.3);

}

form input {
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

button {
    width: 50%;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: #141211;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
    color: #D3B38F;
}

a{
    text-decoration: none;
    color: #141211;
    margin: 5px;
}

a:hover{
    opacity: 0.8;
}
