* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url("../../bookie.jpg");
    width: 100%;
    max-width: 992px;
    margin: auto;
    min-width: 320px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    position: absolute;
    left: -100px;
}

h1 {
    text-align: center;
    text-shadow: 0 0px 3px #fff;
    color: #D3B38F;
}

h3{
    padding: 10px;
}

form {
    width: 50%;
    height: 50%;
    background-color: #72523A;
    border-radius: 15px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.3);

}

form input {
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

button {
    width: 50%;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: #141211;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
    color: #D3B38F;
}

a{
    text-decoration: none;
    color: #141211;
    margin: 5px;
}

a:hover{
    opacity: 0.8;
}
